{% extends "base.html" %}
{% block content %}
<section id="content" class="column-right">
  <h1 class="main-title">Archives</h1>
  {% if dates %}
    <dl>
      {% for article in dates %}
        <dt>
          <a href="/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a>
          {% if not HIDE_DATE %}
          <i><time class="light" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></i>
          {% endif %}
        </dt>
      {% endfor %}
    </dl>
  {% else %}
    No posts found.
  {% endif %}
</section>
{% endblock %}
