{% extends "base.html" %}
{% block title %}{{ article.title }} | {{ super() }}{% endblock %}
{% block extra_head %}
  <meta name="description" content="{{ article.summary|striptags }}">
  <meta name="keywords" content="{{ article.tags|join(', ') }}">
  <meta name="author" content="{{ article.author }}">
{% endblock %}
{% block content %}        
<article class="column-right">
  <h1 class="main-title">{{ article.title }}</h1>
  <summary>
    <p class="light">
      Published
      {% if not HIDE_DATE %}on <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>, {% endif %}
      under <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>{% if article.tags %},
      tagged with {% for tag in article.tags %}{% if loop.last and not loop.first %} and {% elif not loop.first  %}, {% endif %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a>{% endfor %}{% endif %}.
    </p>
  </summary>
  {{ article.content }}
</article>
{% endblock %}
