{% extends "base.html" %}
{% block title %}{{ article.title }} | {{ super() }}{% endblock %}
{% block extra_head %}
  <meta name="description" content="{{ article.summary|striptags }}">
  <meta name="keywords" content="{{ article.tags|join(', ') }}">
  <meta name="author" content="{{ article.author }}">
{% endblock %}
{% block content %}        
<article class="column-right">
  <h1 class="article-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
  <span class="light">
    Published
    {% if not HIDE_DATE %}on <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>,{% endif %}
    under {{ article.category }}, tagged with {{ article.tags|join(', ') }}
  </span>
  {{ article.content }}
</article>
{% endblock %}
