<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/theme/css/{{ CSS_FILE }}" type="text/css" />
  <link rel="stylesheet" href="/theme/css/github.css" type="text/css" />
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
  {% if FEED_RSS %}
  <link href="/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% block extra_head %}{% endblock extra_head%}
</head>

<body>

  <aside class="sidebar">
    <a href="/"><img class="rounded-img" src="/images/avatar.png" height="75" width="75" /></a>

    {% if SOCIAL or PAGES or LINKS or MENUITEMS %}
      <nav>
        <ul>
          {% for link in SOCIAL %}
            <li><a href="{{ link[1] }}">{{ link[0] }}</i></a></li>
          {% endfor %}
          {% for item in MENUITEMS %}
            <li><a href="/{{ item[1] }}">{{ item[0] }}</a></li>
          {% endfor %}
          {% for page in PAGES %}
            <li><a href="/{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
          {% for link in LINKS %}
            <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}

  </aside>

  {% block content %}
    <section class="column-right"> </section>
  {% endblock %}

  <footer class="column-right light">
    <nav><a href="/">Home</a> - <a href="/archives.html">Archives</a> - <a href="/categories.html">Categories</a> - <a href="/tags.html">Tags</a> - <a href="/rss.xml">RSS</a> | {{SITENAME}} (© 2016)</nav>
    <p></p>
  </footer>

  {% include 'analytics.html' %}
  {% include 'piwik.html' %}
  {% include 'disqus_script.html' %}
</body>
</html>
