<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/fontawesome.min.css" type="text/css" media="screen, projection" />
  <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
  <link href="{{ SITEURL }}/images/favicon.ico" rel="icon" type="image/x-icon" />
  {% if FEED_RSS %}
  <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% block extra_head %}{% endblock extra_head%}
</head>

<body>

  <aside class="sidebar">
    <div class="avatar centered-block">
      <a href="/"><img class="rounded-img" src="{{ SITEURL }}/images/avatar.png" height="75" width="75" /></a>
    </div>

    <div class="name centered-block">
      <a href="/">{{ AUTHOR }}</a>
    </div>

    {% if SOCIAL %}
      <section class="meta centered-block">
        {% for link in SOCIAL %}
          <a href="{{ link[1] }}" target="_blank"><i class="icon icon-{{ link[0].lower() }}"></i></a>
        {% endfor %}
      </section>
    {% endif %}

    {% if PAGES or LINKS or MENUITEMS %}
      <section class="sections">
        <ul>
          {% for item in MENUITEMS %}
            <li><a href="{{ SITEURL }}/{{ item[1] }}">{{ item[0] }}</a></li>
          {% endfor %}
          {% for page in PAGES %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
          {% for link in LINKS %}
            <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

  </aside>

  {% block content %}
    <section class="column-right"> </section>
  {% endblock %}

  <footer class="column-right">
      <nav>
          <ul>
          {% if categories|length > 1 %}
              <li>:: <a href="{{ SITEURL }}/categories.html">Categories</a></li>
          {% endif %}
          {% if tags|length > 1 %}
              <li>:: <a href="{{ SITEURL }}/tags.html">Tags</a></li>
          {% endif %}
          </ul>
      </nav>
  </footer>

  {% include 'analytics.html' %}
  {% include 'piwik.html' %}
  {% include 'disqus_script.html' %}
</body>
</html>
