{% extends "base.html" %}

{% block content %}        
  <section class="column-right">
    <header>
      {% block header %}
      <h1 class="main-title">{{ SITENAME }} {% if SITESUBTITLE %} <small>{{ SITESUBTITLE }}</small>{% endif %}</h1>
      {% endblock %}
    </header>
    {% if articles_paginator %}
      <section class="article-list">
        <dl>
        {% for article in articles_page.object_list %}
          <dt>
              <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a>
              {% if not HIDE_DATE %}
              <i><time class="light" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></i>
              {% endif %}
          </dt>
          <dd>{{ article.summary }}</dd>
        {% endfor %}
        </dl>
      </section><!-- /article-list -->
      {% include 'pagination.html' %}
      {% else %}
          No posts found.
      {% endif %}
  </section>
{% endblock content %}
