{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block extra_head %}
  <meta name="description" content="{{ page.summary|striptags }}">
  <meta name="keywords" content="{{ page.tags|join(', ') }}">
  <meta name="author" content="{{ page.author }}">
{% endblock %}
{% block content %}        
  <article class="column-right">
    <h1 class="article-title">{{ page.title }}</h1>
    {% if not HIDE_DATE and page.date %}<time datetime="{{ page.date.isoformat() }}">{{ page.locale_date }}</time>{% endif %}
    {{ page.content }}
  </article>
{% endblock %}
