{% extends "index.html" %}
{% block content %}
<section class="column-right">
  <h1 class="article-title">Tags</h1>
  {% for tag, articles in tags %}
    <section class="article-list">
      <h3>Tagged w/ <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></h3>
      <ol class="simple-list">
        {% for article in articles %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a>
            {% if not HIDE_DATE %}
            <i><time class="light" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></i>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </section>
  {% endfor %}
</section>
{% endblock %}

